/*! ergonomize.css v1.0.3 | github.com/Effeilo/ergonomize.css | @effeilo */

/* Viewport
------------------------------------------------------ */

/*
 * This module incorporates the basic principles of `meta viewport`
 * but respecting the writing standards CSS.
 * @css-for Windows 8 Snap Mode (don't support `meta viewport`)
 * @css-for IE 10+, IE mobile 10+, Opera mini 8
 * 1. @css-for IE 10+, IE mobile 10+.
 * 2. @css-for Opera mini 8.
 */
 
@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width; /* 1 */
}

@-o-viewport {
  width: device-width; /* 2 */
}

@viewport {
  width: device-width;
}

/* The root element
------------------------------------------------------ */

/*
 * 1. Ensure the page always fills at least the entire height of the viewport.
 *
 * 2. Force scrollbars to always be visible to prevent awkward jumps when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. @css-for some Firefox.
 * @see //css-tricks.com/snippets/css/force-vertical-scrollbar/
 *
 * 4. The content continues to scroll slightly after removal of the finger.
 *    on the screen.
 *    @css-for iOS 5.0+.
 * @see //css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
 *
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 *    @css-for OSX.
 * @see http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 *
 * 6. Remove the highlighting effect when "tapped" action on webkit.
 *    @css-for Androids.
 * 7. @css-for some Androids.
 * @see //phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
 */

html {
  min-height: 100%; /* 1 */
  overflow-y: scroll; /* 2 */
  overflow: -moz-scrollbars-vertical; /* 3 */
  -webkit-overflow-scrolling: touch; /* 4 */
  -moz-osx-font-smoothing: grayscale; /* 5 */
   -webkit-font-smoothing: antialiased; /* 5 */
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
 * Remove text-shadow in selection highlight.
 * 1. @css-for Firefox 2+, Firefox for Android 33+.
 * 2. @css-for IE 9+, Chrome 4+, Safari 3.1+, Opera 9.6+, Android 4.4+, IE Mobile.
 * @see //twitter.com/miketaylr/status/12228805301
 */

::-moz-selection { /* 1 */
  text-shadow: none;
}

::selection { /* 2 */
  text-shadow: none;
}

/* Grouping content
------------------------------------------------------ */

/*
 * Prevents certain content from spilling their container.
 * 1. @bugfix * @affected IE 8.
 */

blockquote,
pre {
  max-width: 100%;
  width: auto; /* 1 */
}

/* Text-level semantics
------------------------------------------------------ */

/*
 * Give a help cursor to elements that give extra info on `:hover`.
 */

abbr[title],
dfn[title] {
  cursor: help;
}

/*
 * 1. Prevents certain content from spilling their container.
 * 2. @bugfix * @affected IE 8.
 * 3. @bugfix * @affected IE.
 * 4. Display the text as it was written and line breaks so that 
 *    the text does not leave the block.
 */

code {
  max-width: 100%; /* 1 */
  width: auto; /* 2 */
  white-space: pre-line; /* 3 */
  white-space: pre-wrap; /* 4 */
}

/* Embedded content
------------------------------------------------------ */

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers.
 * @see: //github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * 1. Preserves the aspect ratio.
 * 2. Prevents certain content from spilling their container.
 * 3. @bugfix * @affected IE 8.
 */

img,
svg,
video {
  height: auto; /* 1 */
  max-width: 100%; /* 2 */
  width: auto; /* 3 */
}

/*
 * Bicubic image smoothing during a resizing.
 * @css-for IE7.
 */

img {
  -ms-interpolation-mode: bicubic;
}

/*
 * Disable highlight on image when select and drag it with the mouse.
 * 1. @css-for Firefox 2+, Firefox for Android 33+.
 * 2. @css-for IE 9+, Chrome 4+, Safari 3.1+, Opera 9.6+, Android 4.4+, IE Mobile.
 * @see: //stackoverflow.com/questions/6816080/how-to-disable-highlight-on-a-image
 */

img::-moz-selection { /* 1 */
  background-color: transparent;
}

img::selection { /* 2 */
  background-color: transparent;
}

/* Tables
------------------------------------------------------ */

/*
 * Prevents certain content from spilling their container.
 * 1. @bugfix * @affected IE 8.
 */

table,
td {
  max-width: 100%;
  width: auto; /* 1 */
}

/* Forms
------------------------------------------------------ */

/*
 * Fix vertical align.
 */

button,
input,
label,
select {
  vertical-align: middle;
}

/*
 * Makes you want to click a label.
 */

label {
  cursor: pointer;
}

/*
 * Prevents certain content from spilling their container.
 * 1. @bugfix * @affected IE 8.
 */

input,
textarea {
  max-width: 100%;
  width: auto; /* 1 */
}

/*
 * Allow only vertical resizing of textareas.
 * @css-for Firefox 5+, Chrome 4+, Safari 4+, opera 12.1+.
 */

textarea {
  resize: vertical;
}

/*
 * 'x' appears on right of search input when text is entered. 
 * This removes it and get rid of superfluous padding.
 * @css-for Chrome.
 * @see //css-tricks.com/webkit-html5-search-inputs/#comment-82432
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
