/*! ergonomize.css v4.1 | github.com/Effeilo/ergonomize.css | MIT Licence 2023 @effeilo */

/* Scroll Behavior
---------------------------------------------------------------------------- */

/**
 * 1. If the user has not requested the system to minimize the amount 
      of animation or movement,
 *    https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
 * 2. Defines a smooth scroll effect to the scrolling behavior for a scrolling box, 
 *    when scrolling happens due to navigation or CSSOM scrolling APIs.
 *    https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior
 */

@media (prefers-reduced-motion: no-preference) { /* 1 */
  :root {
    scroll-behavior: smooth; /* 2 */
  }
}

/* The root element
---------------------------------------------------------------------------- */

/**
 * 1. Improve consistency of default fonts in all browsers. 
      https://github.com/sindresorhus/modern-normalize/issues/3
 * 2. Force scrollbars to always be visible to prevent awkward jumps when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. For some Firefox.
 *    css-tricks.com/snippets/css/force-vertical-scrollbar/
 * 4. Displays auto-hiding scrollbars during mouse interactions 
 *    and panning indicators during touch and keyboard interactions. 
 *    For Edge 12+
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 *    For OSX.
 * 6. Remove the highlighting effect when "tapped" action on webkit.
 *    For Androids.
 * 7. For some Androids.
 *    phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
 * 8. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 *    For iOS Safari 5.1+.
 */

 html {
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji'; /* 1 */
  overflow-y: scroll; /* 2 */
  overflow: -moz-scrollbars-vertical; /* 3 */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* 4 */
  -moz-osx-font-smoothing: grayscale; /* 5 */
  -webkit-font-smoothing: antialiased; /* 5 */
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
  -webkit-text-size-adjust: 100%; /* 8 */
}

/* Grouping content
---------------------------------------------------------------------------- */

/**
 * Prevents certain content from spilling their container.
 */

blockquote,
pre {
  max-width: 100%;
}

/* Text-level semantics
---------------------------------------------------------------------------- */

/**
 * 1. Removes delay from tapping on clickable elements.
 *    www.sitepoint.com/5-ways-prevent-300ms-click-delay-mobile-devices/
 * 2. Removes gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  -ms-touch-action: manipulation;
      touch-action: manipulation; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */

abbr[title],
dfn[title] {
  cursor: help;
}

/**
 * 1. Display the text as it was written and line breaks so that 
 *    the text does not leave the block.
 * 2. Prevents certain content from spilling their container.
 */

code {
  white-space: pre-wrap; /* 1 */
  max-width: 100%; /* 2 */
}

/* Embedded content
---------------------------------------------------------------------------- */

/** 
 * Removes delay from tapping on clickable elements.
 * www.sitepoint.com/5-ways-prevent-300ms-click-delay-mobile-devices/
 */

area {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

/**
 * Preserves the aspect ratio.
 */

img {
  height: auto;
}

/**
 * Disable highlight on image when select and drag it with the mouse.
 * 1. For Firefox 2+, Firefox for Android 33+.
 * 2. For Chrome 4+, Safari 3.1+, Opera 9.6+, Android 4.4+.
 * //stackoverflow.com/questions/6816080/how-to-disable-highlight-on-a-image
 */

img::-moz-selection { /* 1 */
  background-color: transparent;
}

img::selection { /* 2 */
  background-color: transparent;
}

/**
 * Prevents certain content from spilling their container.
 */

img,
svg,
video {
  max-width: 100%;
}

/* Forms
---------------------------------------------------------------------------- */

/**
 * Gives a pointer cursor to clickable forms elements.
 */

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled),
label[for],
select {
  cursor: pointer;
}

/**
 * Remove the tapping delay from clickable elements.
 * www.sitepoint.com/5-ways-prevent-300ms-click-delay-mobile-devices/
 */

button,
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

/**
 * Prevents certain content from spilling their container.
 */

input,
textarea {
  max-width: 100%;
}

/**
 * Allow only vertical resizing of textareas.
 * For Firefox 5+, Chrome 4+, Safari 4+, opera 12.1+.
 */

textarea {
  resize: vertical;
}

/* Tables
---------------------------------------------------------------------------- */

/**
 * Prevents certain content from spilling their container.
 */

table,
td {
  max-width: 100%;
}